* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/* nav css */
.logo {
    width: 150px;
    position: absolute;
    top: 17px;
    left: 12%;
    text-align: center;
    cursor: pointer;
}
nav {
    height: 80px;
}
nav ul {
    float: right;
    margin-right: 25px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 100%;
    background-color: #08A4AF;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s linear;
}
nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}
.checkbtn {
    color: #A30003;
    font-size: 36px;
    line-height: 80px;
    margin-right: 40px;
    float: right;
    display: none;
    cursor: pointer;
}
#check {
    display: none;
}

/* responsive nav */
@media only screen and (max-width: 1118px) {
    .logo {
        left: 8%;
    }
}
@media only screen and (max-width: 944px) {
    .logo {
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a {
        font-size: 18px;
    }
}
@media only screen and (max-width: 800px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 400px;
        background: #2A2E2E;
        top: 80px;
        right: -150%;
        text-align: left;
        padding-left: 75px;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
        color: #08A4AF;
    }
    nav ul li a:hover {
        color: white;
    }
    #check:checked ~ ul {
        right: -75%;
        position: absolute;
    }
}

/* jumbotron css */
.jumbotron {
    margin-top: 75px;
}
.title {
    text-align: center;
    font-family: "Gelasio", serif;
}
.red {
    color: #A30003;
    font-weight: bold;
}
.lead {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}
.left {
    float: left;
    width: 450px;
}
.right {
    float: right;
    width: 450px;
}
.columns {
    margin-top: 50px;
    margin-bottom: 50px;
}
.gif {
    text-align: center;
    margin: 0 auto;
}

/* case study nav */
.nav {
    justify-content: center;
    margin-top: 150px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2a2e2e63;
    padding: 15px 15px;
}
.nav-link {
    color: #A30003;
    font-weight: bold;
    padding-right: 50px;
}
.nav-link:hover {
    color: #830002;
}
.active {
    background-color: #A30003 !important;
    border-radius: 20px !important;
    padding: 15px 20px 15px 20px;
    margin-right: 20px;
}

/* body css */
section h2 {
    margin: 150px 0px 50px 200px;
    font-size: 35px;
    font-family: "Gelasio", serif;
}
section p {
    margin: 20px 200px 50px 200px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section h3 {
    margin: 0px 0px 50px 300px;
    font-size: 30px;
    font-family: "Gelasio", serif;
}
.indent {
    margin: 20px 400px 50px 400px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img {
    text-align: center;
    margin: 50px 500px;
}
.ileft {
    margin-left: 400px;
}
.iright {
    margin-left: 1000px;
    margin-top: 0;
}
.hred {
    color: #A30003;
    font-weight: bold;
}
.l {
    margin-left: 400px;
    margin-right: 200px;
}
.r {
    margin-left: 100px;
    margin-right: 100px;
}
.g {
    margin-left: 700px;
}
.btt {
    float: right;
    margin-top: 50px;
    margin-right: 300px;
    text-decoration: none;
    font-size: 18px;
    color: #A30003;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* footer css */
footer {
    background-color: #2A2E2E;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin-top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer ul {
    display: flex;
    width: 100%;
}
footer li a {
    padding-right: 30px;
    color: #08A4AF;
    font-size: 20px;
    text-decoration: none;
}
footer li a:hover {
    font-weight: bold;
}
.col3 {
    padding-left: 40px;
}
.CR {
    margin: auto;
    padding: 0 50px;
    color: #08A4AF;
    font-size: 20px;
}
.col1 {
    padding-right: 30px;
}
footer .iconify {
    color: #08A4AF;
    width:36px;
    height: 36px;
    display: flex;
    float: left;
    padding: 0 15px;
    transition: transform 0.3s;
}
footer .iconify:hover {
    transform: scale(1.2);
}

/* responsive footer */
@media only screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
    }
    .col2 {
        margin: 30px;
    }
    .CR {
        font-size: 16px;
    }
    .col1 {
        padding-right: 0;
    }
}